<?xml version="1.0" encoding="UTF-8" ?> <!-- configuration 설정 SqlSesssionFactory 생성을 위한 정보 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd"> <!-- mybatis의 설정용 스키마 -->
<configuration> <!-- 작성 양식은 mybatis 홈페이지의 매퍼 설정에서 확인할 수 있다. -->
    <!-- 연결 정보(중요 정보)는 외부 파일로 뺄 수 있다.-->
    <properties resource="config/connection-info.properties"/>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/> <!-- 수동 커밋 -->
            <!-- 외부 파일에 존재하는 값을 키를 이용해 가져올 수 있다. -->
            <dataSource type="POOLED">  <!-- 커넥션 풀 사용 -->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- mapper 등록 -->
    <!-- 설명. mapper들이 존재하는 패키지 -->
    <!-- 해당 패키지 내에 있는 파일을 등록 -->
    <mappers>
        <package name="com.ohgiraffers.section01.xmlmapper"/>
    </mappers>

</configuration>