<?xml version="1.0" encoding="UTF-8" ?> <!-- mapper 설정 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper"> <!-- 네임 스페이스 지정(해당 파일 내의 쿼리들의 소속을 명시) -->
    <select id="selectNow" resultType="java.util.Date"> <!-- 쿼리문 이름과 반환 타입 -->
        SELECT NOW() <!-- 쿼리문 작성, ';' 들어가면 문법 오류 -->
    </select>
</mapper>