<?xml version="1.0" encoding="UTF-8" ?> <!-- configuration 설정 SqlSesssionFactory 생성을 위한 정보 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd"> <!-- mybatis의 설정용 스키마 -->
<configuration> <!-- 작성 양식은 mybatis 홈페이지의 매퍼 설정에서 확인할 수 있다. -->
    <typeAliases> <!-- 기본 타입이 아닌 타입에 별칭을 달아주기 -->
        <typeAlias type="com.ohgiraffers.section01.xmlconfig.MenuDTO" alias="MenuDTO"/> <!-- alias로 등록 import와 비슷한 개념 -->
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/> <!-- 수동 커밋 -->
            <dataSource type="POOLED">  <!-- 커넥션 풀 사용 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/jdbcdb"/>
                <property name="username" value="root"/>
                <property name="password" value="mariadb"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 쿼리 정보를 받아올 외부 파일 등록 -->
    <mappers>
        <mapper resource="com/ohgiraffers/section01/xmlconfig/menu-mapper.xml"/>    <!-- 자주 누락하는 부분 주위 -->
    </mappers>
</configuration>