<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- MemberDTO와 PersonalAccount를 bean으로 만들어 MemberDTO에 넣고자 한다. -->
    <bean id="account" class="com.ohgiraffers.common.PersonalAccount">
        <constructor-arg index="0" value="20"/>
        <constructor-arg index="1" value="123-4563-1234"/>
    </bean>

    <!-- 1. 생성자 주입(세터 주입에 비해 선호) -->
    <!-- 생성자 주입을 더 선호하는 이유 -> setter는 직접 접근하여 private를 뚫기 때문 -->
<!--    <bean id="member" class="com.ohgiraffers.common.MemberDTO">-->
<!--        <constructor-arg name="sequence" value="1"/>-->
<!--        <constructor-arg name="name" value="홍길동"/>-->
<!--        <constructor-arg name="email" value="hong@gmail.com"/>-->
<!--        <constructor-arg name="phone" value="010-1234-5678"/>-->
<!--        <constructor-arg name="personalAccount" ref="account"/>     &lt;!&ndash; 의존 관계에 있는 콩을 대입 member가 완성되려면 account가 필요 &ndash;&gt;-->
<!--    </bean>-->

    <!-- 2. 세터(setter) 주입 -->
    <bean id="member" class="com.ohgiraffers.common.MemberDTO">
        <property name="sequence" value="2"/>
        <property name="name" value="길동"/>
        <property name="phone" value="021-1234-5043"/>
        <property name="email" value="apsara@gmail.com"/>
        <property name="personalAccount" ref="account"/>

    </bean>

</beans>