<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Exception Handler 사용하기</h1>
    <h3>SimpleMappingExceptionResolver를 이용한 방식</h3>
    <button onclick="location.href='simple-null'">NullPointerException Test</button>
    <button onclick="location.href='simple-user'">사용자 정의 Exception Test</button>

    <h3>@ExceptionHandler 어노테이션을 이용한 방식</h3>
    <button onclick="location.href='annotation-null'">NullPointerException Test</button>
    <button onclick="location.href='annotation-user'">사용자 정의 Exception Test</button>
</body>
</html>