<?xml version="1.0" encoding="UTF-8" ?> <!-- 쿼리문을 실행하기 위한 매핑 정보 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section03.remix.MenuMapper"> <!-- 인터페이스의 풀네임을 사용해야함 -->
    <resultMap type="com.ohgiraffers.section03.remix.MenuDTO" id="menuResultMap"> <!-- resultType을 사용자가 원하는 타입으로 매핑 -->
        <!-- 필드명와 컬럼을 매핑 -->
        <id property="menuCode" column="MENU_CODE"/>  <!-- primary key는 id로 -->
        <result property="menuName" column="MENU_NAME"/>    <!-- 일반 속성은 result로 -->
        <result property="menuPrice" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>

    <select id="selectAllMenus" resultMap="menuResultMap"> <!-- menuResultMap을 이용하여 menuDTO로 변환 -->
        SELECT
               MENU_CODE
             , MENU_NAME
             , MENU_PRICE
             , CATEGORY_CODE
             , ORDERABLE_STATUS
          FROM TBL_MENU
    </select>

    <select id="selectMenuByMenuCode" parameterType="_int" resultMap="menuResultMap">
        SELECT
               MENU_CODE
             , MENU_NAME
             , MENU_PRICE
             , CATEGORY_CODE
             , ORDERABLE_STATUS
          FROM TBL_MENU
         WHERE MENU_CODE = #{menuCode}  <!-- 넘어온 인자를 삽입 -->
    </select>

<!-- java 방식에는 type alias가 없기 때문에 타입을 풀네임으로 적어줘야 한다.-->
    <insert id="insertMenu" parameterType="com.ohgiraffers.section03.remix.MenuDTO">
        INSERT
          INTO TBL_MENU
        (
          MENU_NAME
        , MENU_PRICE
        , CATEGORY_CODE
        , ORDERABLE_STATUS
        )
        VALUES
        (
          #{menuName}
        , #{menuPrice}
        , #{categoryCode}
        , 'Y'
        )
    </insert>

    <update id="updateMenu" parameterType="com.ohgiraffers.section03.remix.MenuDTO">
        UPDATE
               TBL_MENU
           SET MENU_NAME = #{menuName}
             , MENU_PRICE = #{menuPrice}
         WHERE MENU_CODE = #{menuCode}
    </update>

    <delete id="deleteMenu" parameterType="com.ohgiraffers.section03.remix.MenuDTO">
        DELETE
          FROM TBL_MENU
         WHERE MENU_CODE = #{menuCode}
    </delete>
</mapper>